

body {
    background-color: rgb(240, 242, 243);
}


.navbar {
  border-radius: 0px 0px 30px 30px;
  background-color: rgba(107, 9, 199, 0.8);
  box-shadow: 20px 30px 40px;
}


.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: var(--bs-offcanvas-zindex);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: var(--bs-offcanvas-color);
  visibility: hidden;
  background-color: rgb(172, 28, 230, 0.6);
  text-align: start;
  background-clip: padding-box;
  outline: 0;
  transition: transform 0.3s ease-in-out;
}


/* ==================================section============================================== */

.section {
  height: 100vh;
}

.side_image {
  position: absolute;
  right: 1%;
  top: -10%;
  width: 20%;
}

.carousel {
  margin-top: 5%;
}

.style_card img{
  border-radius: 20px 20px 0px 0px;
}

.title_introducing {
  margin-top: 10%;
}
